<h1>New</h1>

<form method="POST" action="/create">
	<input name="first_name" placeholder="first_name" required>
	<input name="last_name" placeholder="last_name" required>
	<input name="email" placeholder="email" required>
	<input name="phonenumber" placeholder="phonenumber" required>
	<input name="address" placeholder="address" required>
	<button>Submit</button>
</form>