<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="">
</head>
<body>
	<form method= "GET" action="/submission">
		<input name="username">
		<input name="email">
		<button>Submit</button>
	</form>
</body>
</html>