<form method="POST" action="<%="/#{@party.id}"%>/update">
	<input name="name" placeholder="name">
	<input name="description" placeholder="description">
	<input name="date_time" placeholder="date">
	<button>Update</button>
</form>
<a href="/"><button>Back</button></a>