<!DOCTYPE html>
<html>
<head>
	<title>Super Parties</title>
</head>
<body>
	<div>
		<h3>LETS PARTY!!!</h3>
		<form method="GET" action="/search">
			<input id="search" name="search">
    		<label for="search">search</label>
		</form>
	</div>
	<div>
		<%= yield %>
	</div>
</body>
</html>