<h4>MAKE A NEW PARTY</h4>
<form method="POST" action="/create">
	<input name="name" placeholder="name"require>
	<input name="description" placeholder="description">
	<input name="date_time" placeholder="date">
	<button>Create</button>
</form>
<a href="/"><button>Back</button></a>