<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <div><a href="/">Back</a></div>
    <div><a href="/new/product">Create_Product</a></div>
    <div><a href="/new/category">Create_Category</a></div>
  </nav>
  <%= yield %>
</body>
</html>
