<h1>Product</h1>
<h3>New</h3>
<form method="POST" action="/create/product">
	<label>Name</label>
	<input name="name">
	<label>Description</label>
	<input name="description">
	<label>Price</label>
	<input name="price">

	<p>Select Category</p>
	<select>
		<option name="category">None</option>
		<% @categories.each do |category| %>
			<Option name="category" value="<%= category.id %>"><%=category.name %></Option>
		<% end %>
	</select>

	<button>Create</button>
</form>
