<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/google.css">
	<title>this is a profile</title>
</head>
<body>
<div class="block">
		<form class="form" method="GET" action="">
		<img class="google" src="http://archiveteam.org/images/4/40/Google_Logo.png">
			<input name="search">
			<button class="button">search</button>
		</form>
	</div>
	<div class="tab">
		<ul>
			<li><a href="#">web</a></li>
			<li><a href="#">images</a></li>
			<li><a href="#">maps</a></li>
			<li><a href="#">notícias</a></li>
			<li><a href="#">vídeos</a></li>
			<li><a href="#">mais</a></li>
			<li><a href="#">ferramentas</a></li>
		</ul>
	</div>
	<header>Dracula</header>
	<nav class="navigation">
		<ul>
			<li class="selected">About me</li>
			<li>
				<a href="#">Option1</a>
			</li>
			<li>
				<a href="#">Option2</a>	
			</li>
		</ul>
	</nav>
	<div class="content">
		<div class="profile">
			<div class="profile-image">
				<img class="image" src="http://images.g4tv.com/ImageDb3/299973_LGST/castlevania-lords-of-shadow-2.jpg">
			</div>
			<div class="profile-info">
				<p>You may know me as <b>Dracula</b>, the prince of terror, but my story wasn't always of a monster. Once a feble human knowned as Gabriel, I've rose from darkness more powerfull then ever to vanquish all the evil from the Earth! Now, my stories are passed down has if about blood thirst and revenge...</p>
			</div>
		</div>
		<section>
			<h1>Favorite quotes</h1>
			<ol>
				<li>
					<q>Let's have a drink</q>
				</li>
				<li>
					<q>Enough talk, have at ya!</q>
				</li>
				<li>
					<q>
						<b>What is a man?</b> A miserable little pile of secrets!
					</q>
				</li>
			</ol>
		</section>
		<section>
			<h1><b>Appearences</b></h1>
			<ol>
				<li>Bramstoker's Dracula - Book and movie</li>
				<li>Castlevania Series - Main antagonist</li>
				<li>Hellsing Animation</li>

				<p>See more about my appearences <a href="https://pt.wikipedia.org/wiki/Dr%C3%A1cula">HERE</a></p>

			</ol>
		</section>
		<section>
			<h1><b>Skills</b></h1>
			<ul>
				<li>Hipnosis</li>
				<li>Super strengh</li>
				<li>Blood and black magic</li>
			</ul>
		</section>
	</div>
	<footer class="footer">
	Your's truly Dracula
	</footer>

</body>
</html>