<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
	<title></title>
</head>
<body>
	<img class="image" src="http://www.lojadascriancas.com.pt/imagens/produtos/DF407.jpg">
	<h3>Bob: <%= @bob_answer %></h3>
	<form method="GET" action="/bob">
		<input name="message">
		<button class="button">Speak to Bob!</button>
	</form>
</body>
</html>
