<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Are you allowed to drink?</h1>
	<form method="GET" action="/message">
		<input name="age" placeholder="age">
		<button>What's your age?</button>
	</form>
</body>
</html>