<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<title>layout</title>
</head>
<body>
	<div class="header"></div>
	<div class="tab">
		<ul class="nav nav-pills">
		  <li role="presentation" class="active"><a href="#">home</a></li>
		  <li role="presentation"><a href="#">posts</a></li>
		  <li role="presentation"><a href="#">comments</a></li>
		</ul>
	</div>
	<div>
		<%= yield %>
	</div>
	<div class="footer"></div>
</body>
</html>