<!DOCTYPE html>
<html>
  <title>Store_manager</title>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css">
    <style type="text/css">
    body {background-color: #0083C2}
    h1{color: white}
    small{color: white}
    </style>
  </head>
  <body>
	<div class="page-header">
		<h1>Browse at your leasure!</h1>
	</div>
	  <nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">
		        SUPER POWER
		      </a>
		    </div>
		  </div>
		</nav>
    <%= yield %>
  </body>
</html>